{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "ecmaVersion": 6,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config/base.js"
      }
    }
  }
}